.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

span{
  
  display: inline-block;
  color:black;
  box-shadow: 2px 3px 4px 4px whitesmoke;
  padding: 15px;
  margin: 10px;
  font-size: large;
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:bolder;
}
.center{
  text-align: center;
  border: 2px solid black;
  margin: auto;
  width: 500px;
 
}
.rl-h{
  color:black;
}
.Nav {
  font-weight: bold;
}
.me-auto{
  color: bisque;
}
.tl{
  text-align: center;
}
tbody tr td{

  color:black;

  
  font-size: medium;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:bold;
}
.sc{
  text-align: center;
  border: 2px solid wheat;
  margin: auto;
  width: 1oopx;
  padding: 2px;
}